body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.main-background {
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mobile_btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  overflow: hidden; /* 스크롤바 감추기 */
}

.container {
  overflow: auto; /* 필요한 경우 스크롤이 가능하도록 */
}

#hamburger {
  display: none;
}

label {
  display: block;
  cursor: pointer;
  padding: 10px;
}

label span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #4169e1;
  margin: 5px 0;
  transition: 0.4s;
  border-top: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  border-top: none;
}

.sidebar h2 {
  color: #5f9ea0;
  border-top: none;
}

.nav_mobile {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 23px; /* 글자 크기 조절 */
  font-weight: bold; /* 굵기 조절 */
  border-top: none;
}

.nav_mobile li {
  padding: 15px;
  border-bottom: none;
}

.nav_mobile a {
  color: #000000;
  text-decoration: none;
  border-top: none;
}

.interviewmain-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  text-align: center;
}
.content {
  position: relative;
  color: black;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 200px;
  font-family: "Song Myung", serif;
}

.content p {
  font-size: 1em;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  text-indent: 20px;
}
@media only screen and (min-width: 769px) {
  body {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
  }
  body::before {
    content: "";
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
