.scrollable-content .scrollable-img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.twitterphone-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 2;
}

@media only screen and (min-width: 769px) {
  .twitterphone-image {
    width: 100vh;
    height: auto;
  }
}
