body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0; /* 여백을 0으로 설정 */
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  overflow-y: scroll;
  height: auto;
  max-height: 100vh;
  justify-content: center; /* 가로 중앙 정렬 추가 */
  align-items: center; /* 세로 중앙 정렬 추가 */
  margin-bottom: 50px;
}

.image-container img {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: block;
}

.image-container a {
  display: block; /* 링크 간 여백 제거를 위해 추가 */
}

.sidebar hr {
  margin: 0;
}

@media only screen and (min-width: 769px) {
  body {
    max-width: 780px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    position: relative;
  }
}
